:root{
    --back-color:#f0f8ff;
}
.main-navbar{
    position: sticky;
    height: fit-content;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 2.6px;
    background-color: white;
    top: 0;
    z-index: 5;
}
.navbar{
    display: flex;
    justify-content: space-between;    
}
.container{
    margin: 0 auto;
    width: 80%;
}
.logo-nav{
    background-color:skyblue;
    border: 1px solid skyblue;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-name{
    display: inline;
    font-size: 32px;
}
.nav{
    padding: 5px;
    width: 33%;
    /* background-color: grey; */
}
.nav-left{
    display: flex;
    gap: 5px;
    /* justify-content: center; */
    align-items: center;
    width: 30%;
}
.nav ul{
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.nav ul li{
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}
.nav ul a{
    text-decoration: none;
    color: black;
}
.nav ul li:hover{
    color: blue;
}
.btn{
    font-size: 20px;
    border: 2px solid blue;
    height: 45px;
    width: 85px;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
}
.btn:hover{
    color: blue;
}
/* hero section */
.hero-section-main{
    position: relative;
    background: linear-gradient(135deg,#4f8cff,#6ee7ff);
    /* z-index: 1; */
}
.hero-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
    justify-content: space-between;
}
.hero-left-section{
    width: 50%;
}
.hero-right-section{
    width: 50%;
    display: flex;
    justify-content: center;
}
.hero-right-section-out{
    display: flex;
    align-items: center;
}
.round-section{
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-color: #0000ff3b;
    z-index: 1;
/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
animation: shadow 3s ease-in-out infinite alternate forwards;
}
@keyframes shadow{
   0%{
   box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
   }
   100%{
box-shadow: rgb(0, 0, 0) 10px 10px 35px;
   }
}
.hero-rightt-section{
    position: relative;
      /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 2;
    gap: 8px;
}
.card{
  background-color: white;
    /* color: white; */
    height: fit-content;
    width: 100%;
    padding: 5px;
    border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
animation: border 5s ease-in-out infinite forwards;
}
@keyframes border {
    0%{
        border-top: 3px solid rgb(189, 34, 34);
    }
    30%{
        border-right: 3px solid rgb(213, 33, 33);
    }
    70%{
        border-bottom: 3px solid rgb(193, 29, 29);
    }
    100%{
        border-left: 3px solid rgb(184, 28, 28);
    }
}
.card-time{
   background-color: lightblue;
   border-radius: 10px;
   padding: 3px;
}
.card-dec{
    gap: 3px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
.dec-small{
    height: 4px;
    width: 4px;
    display: inline-block;
    background-color: darkblue;
    border-radius: 50%;
}
.btn-primary{
    border: none;
    border-radius: 13px;
    background-color: blue;
    width: 100px;
    color: beige;
    height: 45px;
    transition: 0s all ease-in;
    cursor: pointer;
}
.btn-primary:active{
    transform: scale(0.8);
}
/* trusted section */
.trusted-section{
    background: var(--back-color);
}
.trusted-main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 50%;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* background-color: var(--back-color); */
}
.com-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 130px;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-weight: bolder;
}
#trusted-contain{
    flex-direction: column;
    margin-bottom: 85px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.badge{
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 2.6px;
    background-color: white;
    border-radius: 12px;
}
#step-section{
    background-color: white;
}
.badges{
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 2.6px;
    background-color: var(--back-color);
    border-radius: 12px;
    position: relative;
}
.badges>h2{
    margin-bottom: 2px;
    font-weight: bold;
}
.font-step{
    font-size: 21px;
}
.points{
    position: absolute;
    height: 35px;
    width: 35px;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: lightskyblue;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid2{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 20px;
}
.distance{
    padding-bottom: 50px;
    padding-top: 60px;   
}
.testimonial-section{
    background-color: var(--back-color);
}
.footer-section{
    display: flex;
    justify-content: space-between;
}
.footer-main{
    background-color: #0f172a;
    color: white;
}
.footer-right{
    padding: 5px;
    width: 30%;
}
.footer-right ul{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.footer-right ul a{
    text-decoration: none;
    color: white;
}
.footer-right ul li{
    list-style: none;
    font-size: 17px;
    cursor: pointer;
}